                <tr>
                    {% if news.picture and news.picture != "" %}
                        <td class="ilustration">
                            <div class="ilustration icon" style="background-image: url('{{ news.picture |  prepend: site.baseurl }}')"></div>
                        </td>
                    {% else %}
                    <td class="ilustration">
                            <div class="ilustration icon" style="background-image: url('{{ '/img/logo.png' |  prepend: site.baseurl }}')"></div>
                        </td>
                    {% endif %}
                    <td class="text">
                         <span class="date">{{ news.date | date: "%d %B %Y" }}</span><br/>
                         <a href="{{news.link}}">{{news.title}}</a><br/>
                         <span class="author">&mdash; by {{ news.author }}</span>
                    </td>
                </tr>